{% import "_tasks.jinja" as _t with context %}
{% import "_shared/oj-recipes.jinja" as _oj with context -%}
version: '3'

tasks:
  default:
    desc: Show available tasks
    cmd: task --list
{{ _t.taskfile() -}}
{% if oj_code %}

{{ _oj.taskfile_oj() }}
{% endif -%}
