{% import "_tasks.jinja" as _t with context %}"""Development tasks, run via `duty <task>`."""

from duty import duty
from duty.context import Context

{% for t in _t.tasks %}

{% if t.deps is defined %}
@duty(pre=[{{ t.deps | map('tojson') | join(', ') }}])
def {{ t.name | replace('-', '_') }}(ctx: Context) -> None:
    """{{ t.desc }}."""
{% else %}
@duty
def {{ t.name | replace('-', '_') }}(ctx: Context) -> None:
    """{{ t.desc }}."""
{%- for cmd in t.cmd %}
    ctx.run("{{ cmd }}", title="{{ t.desc }}")
{%- endfor %}
{% endif %}
{% endfor %}
