{% import "_tasks.jinja" as _t with context %}"""Development tasks, run via `invoke <task>` (or `inv <task>`)."""

from invoke.context import Context
from invoke.tasks import task  # pyright: ignore[reportUnknownVariableType]

{% for t in _t.tasks %}

{% if t.deps is defined %}
@task({{ t.deps | map('replace', '-', '_') | join(', ') }})  # pyright: ignore[reportUntypedFunctionDecorator]
def {{ t.name | replace('-', '_') }}(c: Context) -> None:
    """{{ t.desc }}."""
{% else %}
@task
def {{ t.name | replace('-', '_') }}(c: Context) -> None:
    """{{ t.desc }}."""
{%- for cmd in t.cmd %}
    c.run("{{ cmd }}")
{%- endfor %}
{% endif %}
{% endfor %}
