{% import "_tasks.jinja" as _t with context %}"""Development tasks, run via `invoke <task>` (or `inv <task>`)."""

from invoke.context import Context
from invoke.tasks import task  # pyright: ignore[reportUnknownVariableType]
{{ _t.invoke_tasks() -}}
