# Reference

Technical reference material including APIs and release notes.

```{toctree}
:maxdepth: 1
:glob:

{% if not oj_code %}API <_api/{{ import_pkg }}>
{% endif %}genindex
Release Notes <{{ repo_url }}/releases>
```
