{% if zensical %}# {{ repo_name }}

{{ description }}

This is where you should write a short paragraph that describes what your module does,
how it does it, and why people should use it.

## Installation

```console
$ pip install {{ distribution_name }}
```

## Usage

```python
from {{ package_name }} import __version__

print(f"Hello {{ package_name }} {__version__}")
```
{% endif %}