"""FastHTML app for {{ repo_name }}."""

from fasthtml.common import H1, P, Title, fast_app, serve

app, rt = fast_app()


@rt("/")
def get():
    return Title("{{ repo_name }}"), H1("{{ repo_name }}"), P("Hello from FastHTML!")


serve()
